body {
  position: relative;
}
.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgb(228, 42, 148);
}

.logo-text {
  font-size: 22px;
  color: #164154 !important;
}
#home {
  background: linear-gradient(#164154a6, #16415469), url(../img/hero_img.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#home p {
  max-width: 700px;
  margin: 18px auto;
}

img {
  width: 100%;
}
.portfolio-item {
  overflow: hidden;
  position: relative;
}
.portfolio-item img,
.portfolio-item .portfolio-overlay {
  transition: all 0.4s ease;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #164154c3;
  display: flex;
  align-items: flex-end;
  padding: 30px;
  opacity: 0;
}

.portfolio-overlay h3,
.portfolio-overlay h6 {
  color: #fff;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

.team-member {
  background-color: #164154;
}

.team-member-img img {
  position: relative;
  overflow: hidden;
}

.even {
  background-color: #1d556d;
}

#testimonials img {
  width: 65px;
  height: 65px;
  border-radius: 100px;
  transition: all 0.4s ease;
}

#testimonials .nav-pills .nav-link.active {
  background-color: transparent;
}

#testimonials .nav-pills .nav-link.active img {
  transform: scale(1.3);
}

.review .stars {
  color: #e93b81;
}

.review p {
  max-width: 720px;
  margin: 24px auto;
  font-style: italic;
}

.footer-top {
  padding-top: 80px;
  padding-bottom: 30px;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer .footer-links a,
footer .social-icons a {
  color: #164154;
}

footer .social-icons a {
  font-size: 24px;
}

footer .footer-links a {
  display: block;
  font-weight: 400;
}

footer .social-icons a:hover,
footer .footer-links a:hover {
  color: #e93b81;
}

footer {
  background-color: #cacaca;
}
